Flask==0.12
Jinja2==2.8
gunicorn==19.6.0
itsdangerous==0.24
MarkupSafe==0.23
Werkzeug==0.11.3
wheel==0.24.0
tqdm==4.28.1
torch==1.0.1
torchvision==0.2.1
fastai==1.0.46
numpy==1.14.6
pathlib==1.0.1
pandas==0.22.0
pandas-datareader==0.7.0
pandas-gbq==0.4.1
pandas-profiling==1.4.1
opencv-contrib-python==3.4.3.18
opencv-python==3.4.5.20